<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ksddo.task2" >

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name=".TaskApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
            <intent-filter>

                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AppWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.ksddo.task2.ACTION_ACTIVE_TASKS_ITEM_CLICK" />
                <action android:name="com.ksddo.task2.ACTION_INCOMPLETE_SCHEDULED_TASKS_ITEM_CLICK" />
                <action android:name="com.ksddo.task2.ACTION_COMPLETE_TASKS_ITEM_CLICK" />
                <action android:name="com.ksddo.task2.ACTION_ITEM_CLICK_INCOMPLETE_UNSCHEDULED_TASKS" />
                <action android:name="com.ksddo.task2.ACTION_BUTTON_ADD_CLICK" />
                <action android:name="com.ksddo.task2.ACTION_BUTTON_RELOAD_CLICK" />
                <action android:name="com.ksddo.task2.ACTION_MY_CLICK" />

                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>

        <activity android:name=".AppWidgetConfigureActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service
            android:name=".ServiceForWidget"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" >
        </service>
        <service
            android:name=".RemoteViewsService_forWidget_incomplete"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".RemoteViewsService_forWidget_complete"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".RemoteViewsService_forWidget_activeTasks"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name=".DataLayerListenerServiceInHost"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <!--
        -->
        <activity
            android:name=".StartActiveTask"
            android:label="@string/title_activity_start_active_task" >
        </activity>
    </application>

</manifest>
